@model SalesWebMVC.Models.ViewModel.SellerFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Seller.Name">Complete Name</label>
                    <input asp-for="Seller.Name" type="text" class="form-control" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label asp-for="Seller.Email">Email Address</label>
                    <input asp-for="Seller.Email" type="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label asp-for="Seller.BirthDate">Birth Date</label>
                    <input asp-for="Seller.BirthDate" class="form-control" placeholder="Enter birth date">
                </div>
                <div class="form-group">
                    <label asp-for="Seller.BaseSalary">Base Salary</label>
                    <input asp-for="Seller.BaseSalary" class="form-control" placeholder="Enter base salary">
                </div>
                <div class="form-group">
                    <label asp-for="Seller.DepartmentId">Department Id</label>
                    <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>