@model SalesWebMVC.Models.ViewModel.SellerFormViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Seller.Id" />
                <div class="form-group">
                    <label asp-for="Seller.Name">Complete Name</label>
                    <input asp-for="Seller.Name" type="text" class="form-control" placeholder="Enter name">
                    <span asp-validation-for="Seller.Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Seller.Email">Email Address</label>
                    <input asp-for="Seller.Email" type="email" class="form-control" placeholder="Enter email">
                    <span asp-validation-for="Seller.Email" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Seller.BirthDate">Birth Date</label>
                    <input asp-for="Seller.BirthDate" type="date" class="form-control" placeholder="Enter birth date">
                    <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Seller.BaseSalary">Base Salary</label>
                    <input asp-for="Seller.BaseSalary" class="form-control" placeholder="Enter base salary">
                    <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Seller.DepartmentId">Department Id</label>
                    <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))" class="form-control"></select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}